* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;

}

.container {
    width: 100vh;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background: linear-gradient(0deg, #00adb5, #eee);
    padding-bottom: 60px;
}

.container form {
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 20px;
    padding-top: 160px;
    width: 600px;
    box-shadow: 0 10px 15px rgb(0, 0, 0, 0.5);


}

.container form .inputBox span {
    display: block;
    color: #999;
    padding-bottom: 5px;

}

.container form .inputBox input,
.container form .inputBox select {
    width: 100%;
    border: 1px solid rgb(0, 0, 0, 0.3);
    padding: 10px;
    color: #444;

}

.container form .flexbox {
    display: flex;
    gap: 15px;

}

.container form .flexbox .inputBox {
    flex: 1 1 150px;


}

.container form .submit-btn {
    width: 100%;
    background: linear-gradient(45deg, #222831, #393e46);
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    transform: 360ms all;
    -webkit-transform: 360ms all;
    -moz-transform: 360ms all;
    -ms-transform: 360ms all;
    -o-transform: 360ms all;
}

.container form .submit-btn:hover {
    opacity: 0.8;
    letter-spacing: 2px;

}

.container .card-container .front {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #222831, #393e46);
    border-radius: 5px;
    backface-visibility: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 15px 25px rgb(0, 0, 0, 0.2);
    padding: 20px;
    transition: 400ms all ease-in-out;
    -webkit-transition: 400ms all ease-in-out;
    -moz-transition: 400ms all ease-in-out;
    -ms-transition: 400ms all ease-in-out;
    -o-transition: 400ms all ease-in-out;
    transform: perspective(1000px) rotateY(0deg);
    -webkit-transform: perspective(1000px) rotateY(0deg);
    -moz-transform: perspective(1000px) rotateY(0deg);
    -ms-transform: perspective(1000px) rotateY(0deg);
    -o-transform: perspective(1000px) rotateY(0deg);
    -webkit-backface-visibility: hidden;
}

.container .card-container .front .image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.container .card-container {
    width: 400px;
    height: 250px;
    position: relative;
    margin-bottom: -150px;

}

.container .card-container .front .image img {
    height: 50px;

}

.container .card-container .front .flexbox {
    display: flex;

}

.container .card-container .front .flexbox .box {
    font-size: 15px;
    color: #fff;

}

.container .card-container .front .flexbox .box:nth-child(1) {
    margin-right: auto;

}

.container .card-container .back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #222831, #393e46);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 20px 0px;
    transition: 400ms all;
    -webkit-transition: 400ms all;
    -moz-transition: 400ms all;
    -ms-transition: 400ms all;
    -o-transition: 400ms all;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: perspective(1000)rotate(180deg);
    -webkit-transform: perspective(1000)rotate(180deg);
    -moz-transform: perspective(1000)rotate(180deg);
    -ms-transform: perspective(1000)rotate(180deg);
    -o-transform: perspective(1000)rotate(180deg);
    box-shadow: 0 15px 25px rgb(0, 0, 0, 0.2);
}

.container .card-container .back .box {
    padding: 0px 20px;
}

.container .card-container .back .box .span {
    color: #fff;
    font-size: 15px;


}

.container .card-container .back .box .cvv-box {
    height: 50px;
    padding: 10px;
    margin-top: 5px;
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 100%;

}

.container .card-container .back .box img {
    margin-top: 30px;
    height: 30px;

}


.container .card-container .back .stripe {
    background-color: #000;
    width: 100%;
    margin: 10px 0px;
    height: 50px;

}